.formCreate {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 35px;
}

.formCreate button {
  border-radius: 10px;
  padding: 5px 25px;
  background: rgb(0, 207, 0);
  font-size: 20px;
  line-height: 24px;
  transition: 500ms;
  font-weight: 500;
}

.formCreate button:hover {
  transform: scale(1.1);
}
