/* Применится как только элемент будет добавлен в DOM */
.enter {
  opacity: 0;
  transform: translateX(-100%);
}

/*
* Применится на следующий тик после fade-enter
* Сюда добавляем свойство transition
*/
.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 700ms ease-in-out;
}

/* Применится как только проп in получит false */
.exit {
  opacity: 1;
  transform: translateX(0);
}

/*
* Применится на следующий тик после fade-exit
* Сюда добавляем свойство transition
*/
.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms ease-in-out, transform 700ms ease-in-out;
}
